
#
# Do not include artifacts/targets of the build process (epubs, htmls)
#
builds/

#
# Do not include binary images
#
*.jpg
*.jpeg
*.png
*.gif

#
# Do not include vim swap files
#
*.swp
*.swo

#
# Do not include security/access files
#
github-tokens.md
.git-credentials
